
<section>
	<div class="container" *ngIf="threeKings">
		<p class="meta">{{ threeKings.acf.supporting_callout }}</p>
		<h3 class="title">{{ threeKings.title.rendered }}</h3>
		<object class="underline-squiggle" type="image/svg+xml" data="./assets/squiggle.svg"></object>

		<div class="services" [innerHTML]="threeKings.content.rendered" [@enterAnim]="fadeIn" (@enterAnim.done)="animationDone($event)" [ngClass]="fadeIn ? 'show' : 'hide'">
		</div>
		<div class="cta">
			<a [routerLink]="['/connect']">get in touch</a>
		</div>
	</div>
	<app-specifics-flyout></app-specifics-flyout>
</section>
