@import '../../../styles.scss';

:host ::ng-deep section {
	min-height: 750px;
	display: flex;
	@media (max-width: $below-tablet) { display: block; margin-top: 80px; }
	position: relative;
	.container {
		flex-wrap: wrap;
		padding-bottom: 100px;
		@media (max-width: $below-tablet) { padding-bottom: 0; }
		.services {
			display: grid;
			margin: 50px 0;
			@media (max-width: $below-tablet) { margin: 0; }
			grid-template-columns: repeat(6, 1fr);
			grid-column: 1/-1;
			column-gap: 150px;
			@media (max-width: $small-desktop) { column-gap: 50px; }
			
			&.show > div { opacity: 1; }
			&.hide > div { opacity: 0; }

			& > div {
				h3 {
					font-family: $serif-font;
					font-style: italic;
					font-weight: thin;
					font-size: 20px;
					@media (max-width: $below-tablet) { font-size: 16px; }
					line-height: 1.4;
					padding-bottom: 30px;
					@media (max-width: $below-tablet) { padding-bottom: 10px; }
					margin-bottom: 20px;
					@media (max-width: $below-tablet) { margin-bottom: 10px; }
					letter-spacing: 0.5px;
					position: relative;
					text-transform: lowercase;
					margin-top: 80px;
					@media (max-width: $below-tablet) { margin-top: 40px; }

					&:after {
						display: block;
						position: absolute;
						height: 3px;
						width: 30px;
						background: $orange;
						left: 0;
						bottom: 0;
						content: '';
						@media (max-width: $below-tablet) { right: 0; margin: auto; }
					}
					span {
						font-family: $headline-font;
						font-weight: 900;
						font-style: initial;
						font-size: 32px;
						@media (max-width: $below-tablet) { font-size: 20px; }
					}
				}
				p {
					line-height: 2;
					@media (max-width: $below-tablet) { line-height: 1.4; }
				}
				grid-column: span 2;
				@media (max-width: $below-tablet) { grid-column: 2/6; }
			}
		}
	}
	.cta {
		grid-column: 1/-1;
		display: block;
		margin: 80px 0 50px;
		@media (max-width: $below-tablet) { text-align: center; }
		@media (max-width: $below-tablet) { grid-column: 1/-1; }

		a {
			@include button-primary($btn-primary-color);
		}
	}

	p.meta {
		@include meta($black, 0.2);
		right: 80px;

	}
	h3 {
		font-family: $headline-font;
		font-weight: bold;
		font-size: 50px;
		text-transform: lowercase;
		grid-column: 1/10;
		@media (max-width: $below-tablet) { font-size: 30px; }
		line-height: 1;
		margin-top: 100px;
		@media (max-width: $below-tablet) { margin-top: 30px; }
		@media (max-width: $below-tablet) { grid-column: 1/-1; }
		@media (max-width: $below-tablet) { text-align: center; }
		&.title {
			font-size: 130px;
			opacity: 0.1;
			margin-top: 150px;
			@media (max-width: $below-tablet) { 
				font-size: 40px;
				opacity: 1;
				margin-top: 50px;
			}
		}
		
	}
}

section:empty {
	height: 750px;
	background: red;
}