<section role="banner" aria-labelledby="heroBanner">
	<h2 style="display: none;">A studio dedicated to helping startups and small businesses level up their brand so they can grow their business</h2>
	<div class="container" [@enterAnim]="fade" id="heroBanner">
		<div class="a">
			<p>a studio dedicated to helping </p>
			<p><span>startups</span>, <span>small businesses </span>&amp;</p>
			<p><span>entrepreneurs</span> level up their brand</p>
			<p> so they can <span class="italics">grow their business.</span></p>
			<p class="cta">
				<a [routerLink]="['/services']">our services</a>
			</p>
		</div>
	</div>
</section>