@import '../../../styles.scss';

section {
	min-height: calc(100vh - 56px);
	background: #ffd400;
	background: $hero-background;
	background-image: url(/assets/flatlay-shadow.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	@media (max-width: 1200px) and (min-height: 750px) { background-position: -300px bottom; }
	@media (max-width: $small-desktop) { background-position: right bottom }
	position: relative;
	display: flex;
	overflow: hidden;
	text-align: center;
	&:after {
		content: '';
		background-color: $hero-background;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center bottom;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		animation: backgroundEnter 1.2s ease-out;
		animation-delay: 1.2s;
		animation-fill-mode: forwards;
	}
	div {
		grid-column: 1/-1;
		max-width: 1400px;
		align-self: center;
		.a {
			margin-top:150px;
			@media (max-width: $small-desktop) { background: $hero-background; padding: 30px;}
		}
	}

	p {
		position: relative;
		z-index: 10;
		font-size: 40px;
		@media (max-width: 1500px) { font-size: 34px; }
		@media (max-width: $small-desktop) { font-size: 30px;}
		@media (max-width: $below-tablet) { font-size: 18px; }
		font-family: $sans-serif-font;
		font-weight: 100;
		overflow: hidden;
		line-height: 1.3;
		color: $hero-typography;
		color: $black;
		text-align: left;
		font-weight: bold;

		span {
			&.italics {
				font-family: $serif-font;
				font-style: italic;
				font-weight: bold;
				color: $white;
			}
		}
		&.cta {
			margin-top: 20px;
			text-align: left;
			display: block;
			a {
				@include button-primary($black, $black);
				min-width: 110px;
				display: inline-block;
				text-align: center;
				margin: 15px;
			}
		}
	}
	&:empty {
		min-height: calc(100vh - 56px);
	}
}

@keyframes backgroundEnter {
	0% {
		opacity: 1;
		height: 100%;
		background-color: rgba($hero-background, 1);
	}
	100% {
		background-color: rgba($hero-background, 0);
	}
}