@import './variables';
@mixin meta($color: white, $opacity: 1) {
	color: $color;
	font-size: 11px;
	margin-bottom: 30px;
	text-transform: uppercase;
	letter-spacing: 15px;
	font-family: $sans-serif-font;
	opacity: $opacity;
	writing-mode: vertical-rl;
	position: absolute;
	@media (max-width: $below-tablet) { right: 40px; }
	top: 100px;
	span {
		font-family: $serif-font;
	}
}

@mixin h2(){
	font-family: $headline-font;
	font-weight: bold;
	font-size: 50px;
	text-transform: lowercase;
	grid-column: 1/10;
	@media (max-width: $below-tablet) { font-size: 30px; }
	line-height: 1;
	margin-top: 100px;
	@media (max-width: $below-tablet) { margin-top: 30px; }
}

object.underline-squiggle {
	display: block;
	max-height: 8px;
	max-width: 50px;
	width: 50px;
	grid-column: 1/-1;
	margin-top: 50px;
	@media (max-width: $tablet) {
		margin: 50px auto;
	}
}