@import '../../../styles.scss';

:host ::ng-deep section {
	.overview {
		figure {
			position: relative;
			max-height: 80vh;
			overflow: hidden;

			img	{
				width: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}

	.content {
		position: relative;
		min-height: 88vh;
		display: grid;
		.container {
			justify-content: center;
			padding: 150px 0;
		}
		@media (max-width: $below-tablet) { max-width: calc(100% - 90px); margin: 0 auto;}
		.titles {
			grid-column: 1/6;
			@media (max-width: $below-tablet) { grid-column: 1/-1; }
			grid-row: 1;

			h2 {
				font-size: 60px;
				@media (max-width: $small-desktop) { font-size: 50px; }
				@media (max-width: $below-tablet) { font-size: 30px; }
				font-weight: 900;
				text-transform: lowercase;
				margin-bottom: 30px;
			}

			h3 {
				font-family: $serif-font;
				font-style: italic;
				font-weight: bold;
				font-size: 24px;
				@media (max-width: $below-tablet) { font-size: 18px;}
				line-height: 1.4;
				margin-bottom: 50px;
			}
		}
		.description {
			grid-column: 9/12;
			@media (max-width: $below-tablet) { grid-column: 1/-1; }
			grid-row: span 3;

			p.label {
				text-transform: lowercase;
				font-size: 12px;
				font-weight: bold;
				margin: 0 auto 40px;
				position: relative;
				@media (max-width: $below-tablet) { margin-top: 50px; }
				opacity: 0.5;
				&:not(:first-of-type) {
					margin-top: 50px;
				}
				&:after {
					display: block;
					content: '';
					position:absolute;
					top: 30px;
					width: 30px;
					height: 1px;
					background: $white;
					left: 0;
				}
			}
			p {
				font-size: 24px;
				font-family: $serif-font;
				font-weight: bold;
				font-style: italic;
				@media (max-width: $below-tablet) { font-size: 18px; }
				line-height: 1.6;
				@media (max-width: $below-tablet) { line-height: 1.4; }
				letter-spacing: 0.5px;
			}
			a {
				transition: opacity 0.2s ease;
				&:hover {
					opacity: 0.5;
				}
			}
		}
		.post-body {
			grid-column:1/7;
			@media (max-width: $below-tablet) { grid-column: 1/-1; }
			grid-row: 2;
			p {
				font-size: 16px;
				font-weight: 400;
				line-height: 1.6;
				margin-bottom: 20px;
			}
		}
	}
	.project-shots {
		text-align: center;
		margin-top: -3px;
		p {
			line-height: 0;
		}
		img {
			margin: 0 auto;
			width: 100%;
			max-width: 100%;
			height: auto;
			display: inline-block;
		}
	}
	.featured-shot {
		max-height: 85vh;
		overflow: hidden;
		object-fit: cover;
		margin-bottom: -5px;
		@media (max-width: $small-desktop) { padding-top: 50px; }
	}
}

a.arrow  {
	object {
		pointer-events: none;
	}
	@media(max-width: $tablet) { display: none; }
	cursor: pointer;
	transform: rotate(90deg);
	width: 20px;
	position: absolute;
	bottom: 50px;
	right: 60px;
	animation: mymove 2s infinite;
	animation-timing-function: ease-in-out;
}
:host ::ng-deep figure.wp-block-image {
	line-height: 0;
}

@keyframes mymove {
	0% {bottom: 60px;}
	50% {bottom: 45px;}
	100% {bottom: 60px;}
}

.portfolio-page-cta {
	background: transparent;
	text-align: center;
	padding: 100px 20px;
	color: $black;
	h3 {
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 20px;
	}
	p {
		max-width: 600px;
		margin: 0 auto;
		line-height: 1.4;
	}
	a {
		display: inline-block;
		margin-top: 50px;
		@include button-primary($orange);
		padding: 10px;
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {

	:host ::ng-deep section {
		.content {
			display: block;
			flex-wrap: wrap;
			.description {
				width:100%;
			}
			.container {
				display: block;
				.post-body {
					width: 100%;
				}

			}
		}
	}
}
