<section>
	<div class="container">
		<h2>The Work</h2>
		<object class="underline-squiggle" type="image/svg+xml" data="../assets/squiggle.svg"></object>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices eu metus id fermentum. Proin sagittis ligula id arcu varius finibus. Aenean tristique faucibus sapien, id laoreet lacus.</p>
		<div>
			<a href="#">Let's work together</a>
		</div>
	</div>
	<p class="meta">our best stuff</p>
</section>
<section id="workPage">
	<app-featured-work></app-featured-work>
</section>
<app-brands></app-brands>
