<section>
	<div class="container">
		<div>
			<h2>The Work</h2>
				<object class="underline-squiggle" type="image/svg+xml" data="../assets/squiggle.svg"></object>
				<p>A brief selection of branding, print materials, web design, and web development work.</p>
			
		</div>
		<div class="cta">
				<a [routerLink]="['/connect']">Let's work together</a>
			</div>	
		
	</div>
	<p class="meta">our best stuff</p>
</section>
<section id="workPage">
	<app-featured-work></app-featured-work>
</section>
<app-brands></app-brands>
<app-contact-cta></app-contact-cta>
<app-instagram></app-instagram>
