@import '../../styles.scss';
section {
	p.meta {
		margin-top: 30px;
		@include meta($black, 0.2);
		right: 80px;
	}
}
.container {
	margin: 50px auto 100px;
	position: relative;
	@media(max-width: $tablet) { grid-template-columns: 1fr }

	h2 {
		@include h2();
		grid-column: 1/5;
		@media(max-width: $tablet) { text-align: center; }

	}
	p {
		grid-column: 1/7;
		@media(max-width: $tablet) {
			width: 75%;
			max-width: 400px; 
			margin: auto; 
		}

		margin: 50px 0;
	}
	div {
		display: block;
		grid-column: 1/-1;
		text-align: right;
		@media(max-width: $tablet) { text-align: center; margin-top: 50px; }

	}
	a {
		@include button-primary($coral);
	}
}
:host ::ng-deep section#workPage {
	.work-container {
		grid-template-columns: repeat(2, 1fr);
		@media(max-width: $tablet) { grid-template-columns: 1fr }
	}
}