@import '../../styles.scss';
section {
	p.meta {
		margin-top: 30px;
		@include meta($black, 0.2);
		right: 80px;
	}
}
.container {
	padding: 50px 0 100px;
	position: relative;

	h2 {
		@include h2();
		grid-column: 1/5;
		@media(max-width: $tablet) { text-align: center; }

	}
	p {
		@media(max-width: $tablet) {
			margin: auto; 
		}

		margin: 50px 0;
	}
	div {
		display: block;
		grid-column: 1/8;
		text-align: left;
		@media(max-width: $tablet) { text-align: center; margin-top: 50px; }
		@media(max-width: $tablet) { grid-column: 2/12; }

	}
	.cta {
		text-align: right;
		@media(max-width: $tablet) { text-align: center; }
		grid-column: 1/-1;
		a {
			@include button-primary($coral);
		}
	}
}
:host ::ng-deep section#workPage {
	.work-container {
		grid-template-columns: repeat(2, 1fr);
		@media(max-width: $tablet) { grid-template-columns: 1fr }
	}
}