
 <header>
 	<figure id="logo">
 		<img src="../assets/vanessas-ink-logo.svg" [routerLink]="['/']">
 	</figure>
 	<nav [ngClass]="mobileMenu ? 'open' : ''">
 		<ul id="mainNav">
 			<li><a (click)="toggleMenu()" [routerLink]="['/']">Home</a></li>
	 		<li><a (click)="toggleMenu()" [routerLink]="['/work']">Work</a></li>
	 		<li><a (click)="toggleMenu()" [routerLink]="['/services']">Services</a></li>
	 		<li><a (click)="toggleMenu()" [routerLink]="['/about']">About</a></li>
	 		<li><a (click)="toggleMenu()" [routerLink]="['/connect']">Connect</a></li>
	 		<li><a (click)="toggleMenu()" [routerLink]="['/free-brand-audit-guide']">Brand Audit Guide</a></li>
 		</ul>
 		<aside id="contactInfo"
 			*ngIf="mobileMenu">
	 		<h4>Contact Us:</h4>
	 		<p>e. vanessarusu@gmail.com</p>
	 		<p class="subtext">Based in Vancouver, B.C. Working with clients across North America</p>
	 		<div id="aboutCTA">
				<a href="https://www.instagram.com/vanessas.ink/" target="blank"><i class="fab fa-instagram"></i></a>
				<a href="https://dribbble.com/vanessarusu" target="blank"><i class="fab fa-dribbble"></i></a>
				<a href="https://www.linkedin.com/in/vanessarusu/" target="blank"><i class="fab fa-linkedin-in"></i></a>
				<a href="mailto:vanessarusu@gmail.com"><i class="fal fa-envelope"></i></a>
				<a [routerLink]="['/connect']" class="btn">Let's work together</a>
			</div>
 		</aside>
 	</nav>
 	<a href="" class="instagram"><i class="fab fa-instagram"></i></a>
 	<a id="mobileMenu"
 	(click)="toggleMenu()">
 		{{ mobileMenu ? "Close" : "Menu"}}
 	</a>
 </header>