// grid

section.three-columns {
	> div {
		display: grid;
	}
}

#site {
	position: relative;
	background: #f7f7f7;
	&:after {
		position: fixed;
		display: block;
		content: '';
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		border: 20px solid white;
		pointer-events: none;
		z-index: 10;
	}
}