@import '../styles.scss';

section.three-columns {
	> div {
		display: block;
		display: grid;
	}
}

#site {
	position: relative;
	background: #f7f7f7;
	&:after {
		position: fixed;
		display: block;
		content: '';
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		border-top: 20px solid white;
		@media(min-width: $tablet) {
			border: 20px solid white;
		}
		pointer-events: none;
		z-index: 10;
	}
}
#loader {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	p {
		width: 100%;
		text-align: center;
		color: $black;
		font-weight: bold;
		font-size: 18px;
	}
}