<section id="newsContainer">
	<div class="container">
		<div class="card">
			<div class="copy">
				<img src="/assets/vanessasink-skillshare-logos.svg" alt="Vanessa's Ink and Skillshare Logos" class="brand-logos">
				<h5>Customize a Website Template with CSS</h5>
				<p class="bold"><a href="https://www.skillshare.com/classes/Customize-a-Website-Template-with-CSS/822507532/projects" target="blank">Join vanessa's ink on Skillshare! </a></p>
				<p>Learn how to add and update CSS to transform the look of a website! This project is a great way to get familiar with making design updates to an existing website template. Use the skills you'll learn on platforms such as Wordpress, Squarespace, or in your own custom coded projects.</p>
				<p class="bold">Receive two months of Skillshare Premium for FREE by signing up below!</p>
				<p class="small">By signing up for the Skillshare discount code you will also be receiving occasional studio updates and tips. You can always unsubscribe.</p>
			</div>
				<!-- Begin Mailchimp Signup Form -->
			<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
			<style type="text/css">
				#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
				/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
				   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
			</style>
			<div id="mc_embed_signup" [ngClass]="hideForm ? 'hide' : 'show'">
			<form 
			ngNoForm
			action="https://tumblr.us5.list-manage.com/subscribe/post?u=ac592e064105819e64ac3aced&amp;id=0ee52da4a1" 
			method="post" 
			id="mc-embedded-subscribe-form" 
			name="mc-embedded-subscribe-form" 
			class="validate" 
			target="_blank" 
			novalidate>
			    <div id="mc_embed_signup_scroll">
					<input 
					type="email" 
					value="" 
					name="EMAIL" 
					class="email" 
					id="mce-EMAIL" 
					placeholder="email address" 
					required>
					<div class="mc-field-group input-group" style="display:none;">
						<ul>
							<li>
								<input type="checkbox" value="1" name="group[23901][1]" id="mce-group[23901]-23901-0" checked><label for="mce-group[23901]-23901-0">Skillshare</label>
							</li>
						</ul>
					</div>
			    	<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;" aria-hidden="true">
				    	<input type="text" name="b_ac592e064105819e64ac3aced_0ee52da4a1" tabindex="-1" value="">
				    </div>
					<input 
					(click)="submitToggle()"
					type="submit" 
					value="Subscribe" 
					name="subscribe" 
					id="mc-embedded-subscribe" 
					class="button">
			    </div>
			</form>
			</div>
			<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>

			<!--End mc_embed_signup-->
			<div id="submitSuccess" [ngClass]="showSuccess ? 'show' : 'hide'">
				<p>
					Thank you!<br> Please check your inbox for the link. <br>
					<span>Have a question? Reach out to hello@vanessasink.com</span>
				</p>
			</div>
		</div>
	</div>
</section>