<section id="intro">
	<div class="container">
		<div class="left">
			<h2>Services</h2>
			<object class="underline-squiggle" type="image/svg+xml" data="../assets/squiggle.svg"></object>
			<p>We believe in solutions that empower you to take a hands-on approach to your brand. We know budgets can be tight and things can move fast, so we work with you to create and design tools that you can use on a daily basis to run your business.</p>

		</div>
		<div class="right">
			<p>Jump to:</p>
			<ul>
				<li> <a class="brand-refinement" (click)="scroll(brandRefinementDiv)"><span>01</span> Brand Refinement</a></li>
				<li> <a class="web-design" (click)="scroll(webDesignDiv)"><span>02</span> Web Design &amp; Development</a></li>
				<li> <a class="brand-support"
					(click)="scroll(brandSupportDiv)"><span>03</span> Brand Support</a></li>
			</ul>
		</div>
	</div>
	<p class="meta">What we do</p>
</section>
<section>
	<div id="servicesOverview">
		<div class="service-individual brand-refinement" #brandRefinementDiv>

			<img src="../../assets/brand-refinement.svg" class="icon">
			<div class="container" *ngIf="brandRefinement">
				<div class="left">
					<h2>Brand <span>Refinement</span></h2>
					<object class="underline-squiggle" type="image/svg+xml" data="../assets/lines.svg"></object>
					<div [innerHTML]="brandRefinement.content.rendered"></div>

					<div class="cta">
						<a href="#">Let's get started</a>
					</div>
				</div>
				<div class="right">
					<div [innerHTML]="brandRefinement.acf.right_side_list"></div>
				</div>
			</div>
		</div>

		<div class="service-individual web-design" #webDesignDiv>
			<img src="../../assets/web-design.svg" class="icon">
			<div class="container" *ngIf="webDesign">
				<div class="left">
					<h2>Web Design <span>&amp; Development</span></h2>
					<object class="underline-squiggle" type="image/svg+xml" data="../assets/lines.svg"></object>
					<div [innerHTML]="webDesign.content.rendered"></div>
					<div class="cta">
						<a href="#">Let's get started</a>
					</div>
				</div>
				<div class="right">
					<div [innerHTML]="webDesign.acf.right_side_list"></div>
				</div>
			</div>
		</div>
	
		<div class="service-individual brand-support" #brandSupportDiv>
			<img src="../../assets/brand-support.svg" class="icon">
			<div class="container" *ngIf="brandSupport">
				<div class="left">
					<h2>Brand <span>Support</span></h2>
					<object class="underline-squiggle" type="image/svg+xml" data="../assets/lines.svg"></object>
					<div [innerHTML]="brandSupport.content.rendered"></div>
					<div class="cta">
						<a href="#">Let's get started</a>
					</div>
				</div>
				<div class="right">
					<div [innerHTML]="brandSupport.acf.right_side_list"></div>
				</div>
			</div>
		</div>
	</div>
</section>
<app-contact-cta></app-contact-cta>