@import '../../../styles.scss';

section	{
	min-height: calc(100vh - 95px);
	display: flex;
	background: $coral;
	@media (max-width: $below-tablet) { background: transparent; }

	> div:not(.container) {
		align-self: center;
		width: 100%;
	}
}

:host ::ng-deep form.container {
	background: $white;
	@media (max-width: $below-tablet) { background: transparent; }
	padding: 50px;
	box-shadow: 2px 2px 20px 2px rgba($black, 0.1);
	@media (max-width: $below-tablet) { box-shadow: none; }
	grid-gap: 30px 50px;
	@media (max-width: $below-tablet) { grid-column-gap: 0; }
	max-width: 600px;
	@media (max-width: $below-tablet) { margin: 0 auto; }
	@media (max-width: $below-tablet) { max-width: 75%; }

	.content {
		grid-column: 1/-1;
		text-align: center;
	}
	h2 {
		@include h2();
		margin-top: 20px;
		margin-bottom: 50px;
		@media(max-width: $below-tablet) { padding-top: 50px; }
	}

	label {
		display: none;
	}

	.form-group {
		grid-column: span 6;
		@media (max-width: $below-tablet) { grid-column: 1/-1; }

		&.textarea {
			grid-column: 1/-1;
		}
		p {
			margin: 10px 0;
		}
	}

	input, textarea {
		border: none;
		outline: none;
		font-size: 20px;
		border-bottom: 3px solid rgba($black, 0.1);
		background: transparent;
		border-radius: 0;
		font-family: $sans-serif-font;
		font-weight: bold;
		transition: all 0.2s ease;
		text-indent: 0;
		width: 100%;
		&:focus {
			border-bottom: 3px solid $black;
		}
	}
	.submit-container {
		grid-column: 1/-1;
	}
	button {
		border: 1px solid $black;
		background: transparent;
		color: $black;
		width: 100%;
		margin-top: 20px;
		height: 40px;
		border-radius: 0;
		font-family: $headline-font;
		font-weight: bold;
		letter-spacing: 0px;
		transition: all 0.1s ease-in-out;
		@media(min-width: $hover-breakpoint) {
			&:hover {
				color: white;
				background: rgba($black, 0.9);
			}
		}
		
	}
	::-webkit-input-placeholder {
		color: rgba($black, 0.1);
	}
}

:host ::ng-deep form {
	.form-group.select {
		grid-column: 1/-1;
		.ng-dropdown-wrapper {
			width: 100%;
			background: rgba($black, 0.03);
			outline: none;
			input {
				cursor: pointer;
				font-size: 18px;
				outline: none;
				padding: 15px;
			}
			ul.ng-dropdown-menu {
				cursor: pointer;
				background: white;
				box-shadow: 1px 4px 10px 0px rgba(0,0,0,0.1);
				li {
					padding: 20px 0; 
					border-bottom: 2px solid rgba($black, 0.05);
					padding-left: 20px;
					&:hover {
						color: $coral;
						background: rgba($black, 0.01);
					}
				}
			}
			#caret {
				width: 30px;
				height: 20px;
				background: red;
				text-align: center;
				right: 20px !important;
				z-index: 0;
				background: url(../../../assets/down-arrow.svg) center center no-repeat;
				&::after {
					content: '';
					display: none;
				}
			}
		}
	}
}
#submitted {
	.container p {

		grid-column: 1/-1;
		font-size: 24px;
		font-family: $serif-font;
		margin: 20px auto 50px;
		text-align: center;
		a {
			@include button-primary($black, $black);
		}
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	:host ::ng-deep form.container {
		display: block;
		input {
			margin: 10px auto;
		}
		.form-group-select {
			.ng-dropdown-wrapper {
				input {
					margin: 5px auto;
				}
			}
		}
	}
}

