@import '../../../styles.scss';


:host ::ng-deep section {
	.work-container {
		min-height: 50vh;
		padding: 10px;
		display: grid;
		grid-column: 1/-1;
		grid-template-columns: repeat(3, 1fr);
		@media (max-width: $small-desktop) {
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: $below-tablet) {
			grid-template-columns: 1fr;
		}
		grid-auto-rows: max-content;
		grid-gap: 20px;
		padding: 0;
		div {
			align-self: center;
		}
	}
	#workIntro {
		grid-column: span 1;
		height: 500px;
		@media (max-width: $small-desktop) {
			height: 400px;
		}
		display: flex;
		color: #fff;
		div {
			margin-left: $global-offset;
			width: 80%;
			max-width: 300px;
			margin: 0 auto;
		}
		h2 {
			font-size: 40px;
			font-family: $headline-font;
			text-transform: lowercase;
			span {
				font-family: $serif-font;
			font-style: italic;
			}
		}
		p {
			margin-top: 20px;
		}

	}
	.card {
		cursor: pointer;
		background: #fff;
		grid-column: span 1;
		position: relative;
		transform: translateY(0);
		transition: all 0.2s ease;
		&:focus { outline: none; }

		figure {
			position: relative;
			overflow: hidden;
			& > div {
				height: 500px;
				@media (max-width: $small-desktop) {
					height: 400px;
				}
				overflow: hidden;
				transition: all 0.2s ease;
				position: relative;

					&:after {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						content: '';
						transition: all 0.2s ease;
					}
			}
			img {
				max-width: 100%;
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
				filter: none;
				trasition: all 0.2s ease;
			}

			figcaption {
				display: flex;
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				height: 100%;
				width: 100%;
				background: rgba(0,0,0,0);
				transition: all 0.3s ease-out;

				div {
					align-self: center;
					height: 200px;
					height: auto;
					margin: auto 50px;
					mix-blend-mode: normal;
					transform: translateY(200px);
					transition: all 0.2s ease-out;
					transition-delay: 0.05s;

					@media (max-width: $small-desktop) {
						margin: auto 40px;
						transform: translateY(160px);
					}

					h3 {
						color: white;
						font-size: 30px;
						font-weight: 900;
						@media (max-width: $small-desktop) {
							font-size: 16px;
						}
						font-family: $headline-font;
						font-weight: bold;
						padding: 20px 0 10px;
						text-transform: lowercase;
						letter-spacing: 1px;
						transform: translateY(0);
						transition: all 0.2s ease-out;
						transition-delay: 0.05s;
					}

					.categories {
						font-size: 10px;
						line-height: 14px;
						text-transform: uppercase;
						letter-spacing: 3px;
						font-style: italic;
						max-width: 70%;
						color: white;
					}

					.subtext {
						font-size: 16px;
						line-height: 20px;
						font-style: italic;
						font-family: $serif-font;
						margin-top: 20px;
						opacity: 0;
						transition: opacity 0.2s ease-in;
					}
				}
			}
			@media (min-width: $hover-breakpoint) {

				&:hover {
					figcaption {
						background: unset;
						div {
							transform: translateY(100px);
							h3 {
								transform: translateY(-12px);
							}
							h3, .categories {
								&.dark {
									color: $dark;
								}
							}
							.subtext {
								opacity: 1;
								&.light {
									color: $white;
								}
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	:host ::ng-deep section {
		.work-container {
			display: flex;
			flex-wrap: wrap;
		}
		.card {
			width: 33%;
			figure {
				img {
					width: auto;
					max-width: 1200px;
					height: 500px;
					transform: translateX(-50%);
					margin-left: 50%;
				}
			}
		}
	}
}