@import '../../../styles.scss';

:host ::ng-deep section {
	ul.container {
		width: 100%;
		clip-path: inset(0 0 3px 0);
		width: calc(100% - #{$global-offset});
		max-width: 2000px;
		@media (max-width: $below-tablet) { display: none; }
		li {
			position: relative;
			grid-column: span 2;
			overflow: hidden;
			@media (max-width: $small-desktop) { 
				grid-column: span 3;
				&:nth-child(1n+5) {
					display: none;
				}
			}
			&.intro {
				background: $black;
				color: white;
				display: flex;
				align-items: center;
				text-align: center;
				div {
					width: 80%;
					margin: 0 auto 0 calc(#{$global-offset} - 7px);
				}
				h5 {
					font-family: $sans-serif-font;
					flex-align: center;
					font-size: 18px;
					font-weight: bold;
					line-height: 1.1;
					letter-spacing: 1px;
					text-transform: lowercase;
				}
				p {
					padding-top: 5px;

					a {
						font-family: $serif-font;
						font-style: italic;
						color: $coral;
						margin-top: 10px;
						font-size: 14px;
					}
				}
			}
			img {
				max-width: 100%;
				transition: all 0.1s;
				transform: scale(1.05);
			}
			.caption {
				opacity: 0;
				height: 56px;
				width: 80%;
				margin: auto;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				overflow: hidden;
				position: absolute;
				text-align: center;
				z-index: 10;
				transition: 0.2s ease;
				color: $white;
				font-family: $serif-font;
				font-style: italic;
			}
			&:hover {
				.caption {
					opacity: 1;
					z-index: 10;
				}
				&:not(:first-of-type):before {
					background: rgba($black, 0.4);
					mix-blend-mode: multiply;
				}
				img {
					filter: blur(3px);
					transform: scale(1.05);
				}
			}
			&:not(:first-of-type):before {
				position: absolute;
				display: block;
				width: 100%;
				height: 100%;
				content: '';
				background: transparent;
				z-index: 10;
				transition: 0.2s ease;
				background: rgba($black, 0.001);
			}
		}
	}
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	:host ::ng-deep section {
		display: none;
	}
}