<footer>
	<div class="container">
		<div class="footer-logo">
			<a [routerLink]="['/']">
				<img src="../assets/footer-logo.svg">
			</a>	
		</div>
		
		<nav>
			<ul>
				<li>
					<a [routerLink]="['/work']">Work</a>
				</li>
				<li>
					<a [routerLink]="['/services']">Services</a>
				</li>
				<li>
					<a [routerLink]="['/connect']">Connect</a>
				</li>
			</ul>
		</nav>
		<div class="supporting">
			<span> &copy; 2019 Vanessa's Ink</span>
			<a href="" class="instagram"><i class="fab fa-instagram"></i></a>
		</div>
		
	</div>
</footer>